.weather-app {
  display: grid;
  font-size: 20px;
  font-family: "Cabin", sans-serif;
  color: aliceblue;
}

.Weather .weather-temperature {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.Weather .weather-date {
  display: grid;
  font-size: 20px;
  font-family: "Cabin", sans-serif;
  color: aliceblue;
}
.row {
  display: flex;
  align-items: center;
}
.column {
  flex: 20%;
  padding: 5px;
  align-items: center;
}

.temperature {
  width: 600px;
  margin: auto;
  color: aliceblue;
  font-size: 30px;
  font-family: "Cabin", sans-serif;
  text-align: center;
  font-weight: bold;
}

.units {
  width: 600px;
  margin: auto;
  color: aliceblue;
  font-size: 30px;
  font-family: "Cabin", sans-serif;
  text-align: center;
  font-weight: bold;
}

.Weather .weather-forecast-temperature {
  color: aliceblue;
  font-size: 20px;
  font-family: "Cabin", sans-serif;
  text-align: center;
  font-weight: bold;
}

.formatHours {
  color: aliceblue;
  font-size: 20px;
  font-family: "Cabin", sans-serif;
  text-align: center;
  font-weight: bold;
}

.searchCity {
  color: aliceblue;
  font-size: 20px;
  font-family: "Cabin", sans-serif;
  text-align: center;
  font-weight: bold;
}
.displayForecast {
  color: aliceblue;
  font-size: 20px;
  font-family: "Cabin", sans-serif;
  text-align: center;
  font-weight: bold;
}

.Weather.weather-icon {
  width: 100px;
}

.forecast-icon {
  width: 50px;
}
